In [11]:
# Dependencies
import pandas as pd

In [12]:
# Store filepath in a variable
BigMac = "Resources/BigmacPrice.csv"
MeatConsumption = "Resources/meat_consumption.csv"
MinWage = "Resources/Min_wage.csv"

In [13]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
BigMac_df = pd.read_csv(BigMac)
MeatConsumption_df = pd.read_csv(MeatConsumption)
MinWage_df = pd.read_csv(MinWage)

In [14]:
df = pd.DataFrame(BigMac_df)
df.head()

     date currency_code       name  local_price  dollar_ex  dollar_price
0  4/1/00           ARS  Argentina         2.50          1          2.50
1  4/1/00           AUD  Australia         2.59          1          2.59
2  4/1/00           BRL     Brazil         2.95          1          2.95
3  4/1/00           GBP    Britain         1.90          1          1.90
4  4/1/00           CAD     Canada         2.85          1          2.85

In [15]:
MeatConsumption_df.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2000  26.515         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2001  24.606         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2002  25.263         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2003  25.958         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  2004  28.719         NaN

In [16]:
MinWage_df.head()

,COUNTRY,Country,SERIES,Series,PERIOD,Pay period,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,IRL,Ireland,PPP,In 2021 constant prices at 2021 USD PPPs,A,Annual,2001,2001,USD,US Dollar,0,Units,NaN,NaN,15713.18,NaN,NaN
1,IRL,Ireland,PPP,In 2021 constant prices at 2021 USD PPPs,A,Annual,2002,2002,USD,US Dollar,0,Units,NaN,NaN,15773.65,NaN,NaN
2,IRL,Ireland,PPP,In 2021 constant prices at 2021 USD PPPs,A,Annual,2003,2003,USD,US Dollar,0,Units,NaN,NaN,15944.71,NaN,NaN
3,IRL,Ireland,PPP,In 2021 constant prices at 2021 USD PPPs,A,Annual,2004,2004,USD,US Dollar,0,Units,NaN,NaN,17075.70,NaN,NaN
4,IRL,Ireland,PPP,In 2021 constant prices at 2021 USD PPPs,A,Annual,2005,2005,USD,US Dollar,0,Units,NaN,NaN,17822.01,NaN,NaN